# Ignore Environment file
env
.env

#ignore cache
SearchEngineApp/__pycache__
. pycache



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# LibreOffice lock files
.~lock.*

# Django migrations cache
*.sqlite3

# Ignore Migrations
SearchEngineApp/migrations

# Ignore vector DB 
VectorDBS